{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список парков</title>
</head>
<body>
<h1>Парки</h1>
<a href="{% url 'course_create' %}" class="btn btn-success mt-4 mb-4">Создать парк</a>
<br>
{% for course in courses %}
<div class="card">
    <h3 class="card-header">{{ course.name }}</h3>
    <div class="card-body">
        <p class="card-text">Город: {{ course.city }}<br>
            Страна: {{ course.country }}<br>
            Схем: {{ course.layouts_count }}<br></p>
    </div>
</div>
<br>
{% empty %}
<li>Парков нет.</li>
{% endfor %}
</body>
</html>
{% endblock %}