{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block scripts %}
<script src="{% static 'assets/js/layouts.js' %}"></script>
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Создание парка</title>
</head>
<h1>Создание парка</h1>
<br>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="layout-append" id="layout_append">
        {% if layouts %}
        <input type="hidden" id="num_layout" name="num_layout"
               value="{{ layouts|length }}">
        {% for layout in layouts %}
        <div class="layout input-group">
            <input placeholder="Название схемы" value="{{ layout.url }}"
                   type="text" class="form-control"
                   id="layout{{ forloop.counter }}"
                   name="layout{{ forloop.counter }}">
        </div>
        {% endfor %}
        {% else %}
        <input type="hidden" id="num_layout" name="num_layout" value="1">
        <div class="layout input-group">
            <input placeholder="Название схемы" class="form-control" type="text"
                   id="layout1" name="layout1">
        </div>
        {% endif %}
    </div>
    <br>
    <button type="submit" class="btn btn-success">Создать парк</button>
    <button type="button" class="btn" onclick="new_layout()">Добавить схему</button>
    <button type="button" class="btn" onclick="delete_layout()">Удалить схему</button>
</form>
{% endblock %}
