{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список турниров</title>
</head>
<body>
<h1>Турниры</h1>
<a href="{% url 'tournament_create' %}" class="btn btn-success mt-4 mb-4">Создать турнир</a>
<br>
{% for tournament in tournaments %}
<div class="card">
    <h3 class="card-header">{{ tournament.name }}</h3>
    <div class="card-body">
        <p class="card-text">Город: {{ tournament.city }}<br>
            Макс. игроков: {{ tournament.max_players }}<br>
            Раундов: {{ tournament.rounds_count }}<br>
            Дата: {{ tournament.date }}<br></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<br>
{% empty %}
<li>Турниров нет.</li>
{% endfor %}
</body>
</html>
{% endblock %}