{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tournament.name }}</title>
</head>
<body>
    <h1>{{ tournament.name }}</h1>
    <p>Дата: {{ tournament.date }}</p>
    <p>Город: {{ tournament.city }}</p>
    <hr>
    <h3>Структура</h3>
    <a href="{% url 'tournament_update' tournament.id %}">{{ tournament.name }} <span
        class="badge badge-primary">Турнир</span></a>
    <ul style="list-style: none; padding-left: 0;">
    <li>
        <ul style="list-style: none; padding-left: 20px;">
            {% for round in rounds %}
            <li class="d-flex justify-content-between align-items-center mt-1">
                <div>
                    <a href="{% url 'single_round' tournament_id=tournament.id round_number=round.round_number %}">{{ round.name }}</a> <span class="badge badge-secondary">Раунд</span> <span class="badge badge-info">{{ round.layout }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>
    <hr>

    <div class="d-flex">
        <h3>Игроки</h3>
        {% if user.is_authenticated %}
            {% if not already_registered and not is_full %}
                <form method="post" action="{% url 'tournament_register' tournament.id %}" class="ml-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Регистрация на турнир</button>
                    </form>
            {% elif already_registered %}
                <form method="post" action="{% url 'leave_from_tournament' tournament.id %}" class="ml-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Отменить регистрацию</button>
                    </form>
            {% endif %}
    {% endif %}
    </div>

<ul style="list-style: none; padding-left: 0;">
    <li>
        <ul style="list-style: none; padding-left: 20px;">
            {% for registration in registered_players %}
            <li class="d-flex justify-content-between align-items-center mt-1">
                <div>
                    <a href="{% url 'profile' registration.player.id %}">{{ registration.player.user.username }}</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>
</body>
</html>
{% endblock %}